<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <body>
    <div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="assets/images/logo.jpg" alt="hospital" class="img-responsive">
            </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list">
                    <li>
                        <a href="#">SURGERY</a>
                    </li>
                    <li>
                        <a href="#">DENTALSURGERY</a>
                    </li>
                    <li>
                        <a href="#">HOMEOPATHY</a>
                    </li>
                    <li>
                        <a href="#">MEDICINE</a>
                    </li>
                    <li>
                        <a href="#">SKIN</a>
                    </li>
                    <li>
                        <a href="#">DENTIST</a>
                    </li>
                    <li>
                        <a href="#">OPERATIONS</a>
                    </li>
                    <li>
                        <a href="#">AAURVEDA</a>
                    </li>
                    <li>
                        <a href="#">CARDIACSURGERY</a>
                    </li>
                    <li>
                        <a href="#">EYESURGERY</a>
                    </li>
                    <li>
                        <a href="#">PLASTICSURGERY</a>
                    </li>
                    <li>
                        <a href="#">HANDSURGERY</a>
                    </li>
                    <li>
                        <a href="#">ONCOLOGY</a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
    <!-- <app-doctor-list></app-doctor-list> -->
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
      <app-search></app-search>
        <!-- END HEADER DESKTOP-->
        
        <!--Main content-->
        <!--<app-patient-list></app-patient-list> -->
       <router-outlet></router-outlet>    
    </div>
   
    </div> 

  <!-- End page container-->
  
  <footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
  </footer>
  </body>
  </html>