<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h1  style="text-align:center">Welcome To Hospital Management</h1>
            <div class="homepage">
                <a href="#">
                    <img src="assets/images/doctor1.jpg" alt="+Hospital" class="img-responsive" style="width: 100%">
                </a>
            </div>
                
                
            </div>
            </div>
            </div>
