<header class="header-desktop">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" (ngSubmit)="search()" method="GET">
                    <input class="au-input au-input-xl" type="text" name="search"
                        placeholder="Search for patients ..."  [(ngModel)]="pname"/>
                    <button class="au-btn-submit" type="submit">
                        Search
                    </button>
                </form>
               
            </div>
            <div class="account-wrap"></div>
        </div>
    </div>
</header>
